atomicwrites==1.2.1
attrs==18.2.0
bottle==0.12.16
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.4.1
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
line-bot-sdk==1.8.0
MarkupSafe==1.1.0
more-itertools==4.3.0
pluggy==0.8.0
py==1.7.0
pytest==4.0.2
requests==2.21.0
six==1.12.0
typing==3.6.6
urllib3==1.24.1
Werkzeug==0.14.1
